@model DKTinChi.Models.modelSinhVien

<h2>Thông tin sinh viên</h2>

<p><b>Mã sinh viên:</b> @Model.IdSinhVien</p>
<p><b>Họ tên:</b> @Model.HoTen</p>
<p><b>Lớp:</b> @Model.Lop</p>
<p><b>Mật khẩu:</b> @Model.MatKhau</p>
